.pays-boite {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.pays-drapeau {
    width: 100px;
    margin-bottom: 10px;
}

.pays-info {
    margin-bottom: 5px;
}

.pays-nom {
    font-weight: bold;
}